<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Administración de recursos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="mb-3">
            <div class="container containerNavbar">
                <a class="navbar-brand" asp-area="" asp-page="/Index">TFI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Error"> <i class="fas fa-home"></i> Inicio</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Error"> <i class="fas fa-users"></i> Gestionar Empleados</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Error"> <i class="fas fa-folder"></i> Asignar Empleados</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Error"> <i class="fas fa-tasks"></i> Asignar Tareas</a>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Error"> <i class="fas fa-file-chart-line"></i> Generar Reportes</a>
                        </li>
                    </ul>
                </div>
                <div class="mr-2">
                    <partial name="_LoginStatusPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>